@charset "utf-8";

// Color scheme
$body-background-color: hsl(0%, 0%, 70%);

// Halve the section vertical padding and move it into the margin, so
// that consecutive sections look better.
$section-padding-amount: 1.5rem;
$section-margin: 1.5rem 0rem;
$section-padding: $section-padding-amount $section-padding-amount;

// Duration for all transitions.
$transition-duration: 0.5s;

@import "../../node_modules/bulma/bulma.sass";

.normal-project {
	transition: background $transition-duration ease;
	// Hover color for the not-featured projects' tile grid.
	&:hover {
		background: $primary-light;
	}
	// Match the enclosing card's curved corners.
	border-radius: $card-radius;
}

.featured-project {
	transition: transform $transition-duration ease;

	// Expand the card slightly on mouseover.
	&:hover {
		transform: scale(1.05);
	}
}

// See $section-padding above.
.section {
	margin: $section-margin;
}

// Converts <a> elements into <div> styling, except for the cursor change.
a.like-div {
	color: inherit;
	display: block;
	&:hover {
		color: inherit;
	}
}

// Cap the size of media-object images
.media-left.has-image {
	max-width: min(10%, 128px);
}

// Make the navbar appear to take up space.
.navbar + * {
	margin-top: $navbar-height;
}

// Correct the scroll anchor position by adding the section padding and the navbar
// height.
.section-link {
	transform: translateY(-$navbar-height - $section-padding-amount);
}

// Make profile image look good
img.profile {
	object-fit: cover;
	border-radius: 50%;
}
