@charset "utf-8";

// Color scheme
$body-background-color: hsl(0%, 0%, 70%);

// Halve the section vertical padding and move it into the margin, so
// that consecutive sections look better.
$section-padding-amount: 1.5rem;
$section-margin: 1.5rem 0rem;
$section-padding: $section-padding-amount $section-padding-amount;

// Duration for all transitions.
$transition-duration: 0.5s;

@import "../../node_modules/bulma/bulma.sass";

.normal-project {
	transition: background $transition-duration ease;
	
	// Hover color for the not-featured projects' tile grid.
	&:hover {
		background: $primary-light;
	}
	
	// Match the enclosing card's curved corners.
	border-radius: $card-radius;
}

.featured-project {
	transition: transform $transition-duration ease;

	// Keep their bottoms aligned, even if some have more than one line of text.
	height: 100%;

	// Expand the card slightly on mouseover.
	&:hover {
		transform: scale(1.05);
	}
}

// See $section-padding above.
.section {
	margin: $section-margin;
}

// Converts <a> elements into <div> styling, except for the cursor change.
a.like-div {
	color: inherit;
	display: block;
	&:hover {
		color: inherit;
	}
}

// Cap the size of media-object images
.media-left.has-image {
	max-width: min(10%, 128px);
}

// Make the navbar appear to take up space.
.navbar + * {
	margin-top: $navbar-height;
}

// Correct the scroll anchor position by adding the section padding and the navbar
// height.
.section-link {
	transform: translateY(-$navbar-height - $section-padding-amount);
}

// Make profile image look good
img.profile {
	object-fit: cover;
	border-radius: 50%;
}

.media-right h3 {
	// Make the left bar Key: Value display on one line if able
	display: inline;
	// Put some space between the h3 element and the span content
	margin-right: 0.5rem;
}

// Give card content titles a bit of padding.
.featured-project .whole-card-link .title {
	padding-bottom: 0.75rem;
}

// Fixed-size text box utils
.is-1-line {
	height: 1.43em;
	overflow: hidden;
}
.is-2-lines {
	height: 1.43em * 2;
	overflow: hidden;
}
.is-3-lines {
	height: 1.43em * 3;
	overflow: hidden;
}
.is-10-lines {
	height: (1.43em * 10)
}



//////////////
// Nested-Link Magic
// Based on https://heydon.github.io/Inclusive-Components/cards-pseudo-content-author-link/

// Set the card as the container for all "absolute" children. Absolute children
// elements will be relative to the card, rather than to the page.
.card {
	position: relative;
}

// Creates an "pseudo-element" after the content of the <a> tag. The new element
// is then positioned to cover the whole parent card.
a.whole-card-link::after {
	// Content field is required for an ::after pseudo-element.
	content: '';
	
	// Position this "element" to fully cover the card.
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	// Make sure it's on top of everything else.
	z-index: 10;
}

//////////////
// Fading Text Magic
// Similar approach as above
.fading-text {
	// The absolute position will use this element for its measurements.
	position: relative;

	&::after {
		// Content field is required for an ::after pseudo-element.
		content:'';

		// Position this "element" to fully cover the fading-text element.
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(180deg, transparent 70%, white 95%);
	}
}


