
<div class="columns">
	<div class="column is-3">
		<img src="/profilePicture.jpg" class="profile">
	</div>
	<div class="column">
		<h1 class="title">About Me</h1>
		<div class="content">
			<p>My name is Matthew Rogge and I'm a Software Engineer.</p>

			<p>I have a passion for learning programming languages and acquiring new skills. My education and experience put me in the unique position of being qualified to work on many kinds of software, from full stack development to bare metal assembly.</p>
		</div>
		<h2 class="title is-4">What does Software Development mean to me?</h2>
		<div class="content">
			<p>I take software development very seriously. It is not just about the code. There is a complex process of design, implementation, and revision, with communication and teamwork woven into each step of the process.</p>
		</div>
		<h2 class="title is-4">What sets apart a Software <em>Engineer</em> from a Developer?</h2>
		<div class="content">
			<p>Software engineers must consider the consequences of their design decisions. Safety critical code must be correct and well-tested the first time it's used. However, even seemingly unimportant decisions can have serious consequences. Engineers building recommendation algorithms must consider the social impact and biases of the algorithm. Security should be designed into programs from the start. Often, the privacy and security implications of a feature or algorithm are neglected. An example of this:  a service that indicates when a user is on vacation can be used by burglars to locate unoccupied houses.</p>
		</div>
	</div>
</div>
