<div class="card featured-project fading-text">
	<div class="card-content">
		<a class="like-div whole-card-link" href="/projects/{{{id}}}.html">
			<p class="title is-4">{{name}}</p>
		</a>
		<div class="content is-10-lines">
			{{{desc}}}
		</div>
	</div>
</div>

