<a class="like-div card featured-project" href="/projects/{{{id}}}.html">
	<div class="card-image">
		<figure class="image is-4by3">
			{{#image}}
			<img src="{{{url}}}" width="{{width}}" height="{{height}}">
			{{/image}}
		</figure>
	</div>
	<div class="card-content">
		<p class="title is-4">{{name}}</p>
		<div class="content">{{brief}}</div>
	</div>
</a>
