<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/mystyles.css">
	<link rel="stylesheet" href="/fontawesome/fontawesome.css">
	<link rel="stylesheet" href="/fontawesome/solid.css">
	<script defer src="/scrollPositionWatcher.js"></script>
	<title>Portfolio | Matthew Rogge</title>
</head>
<body>
	{{>navbar}}
	<section class="section">
		<div class="section-link" id="about"></div>
		<div class="card">
			<div class="card-content">
				{{>aboutSection}}
			</div>
		</div>
	</section>
	<section class="section">
		<div class="section-link" id="projects"></div>
		<div class="columns">
			{{#featured}}
				<div class="column">
					{{>featuredCard}}
				</div>
			{{/featured}}
		</div>
	</section>
	<section class="section">
		<div class="card">
			<div class="card-content">
				{{#normalTable}}
					<div class="tile is-ancestor">
						{{#normalProjects}}
							{{>normalCard}}
						{{/normalProjects}}
					</div>
				{{/normalTable}}
			</div>
		</div>
	</section>
	<section class="section">
		<!-- Contact -->
	</section>
</body>


