<nav class="navbar is-fixed-top">
	<div class="navbar-brand">
		<a role="button" class="navbar-burger">
			<!-- Three empty spans to draw the burger icon -->
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
	<div class="navbar-menu">
		<div class="navbar-end">
			<a class="navbar-item is-tab {{#isIndex}}is-active{{/isIndex}}">About Me</a>
			<a class="navbar-item is-tab {{#isProject}}is-active{{/isProject}}">Projects</a>
			<a class="navbar-item is-tab {{#isContacts}}is-active{{/isContacts}}">Contact</a>
			<a class="navbar-item">Resume</a> <!-- TODO: Add "external link" icon, probably from fontAwesome. -->
		</div>
	</div>
</nav>
