<nav class="navbar is-fixed-top">
	<div class="navbar-brand">
		<a role="button" class="navbar-burger">
			<!-- Three empty spans to draw the burger icon -->
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
	<div class="navbar-menu">
		<div class="navbar-start">
			<div class="notification is-warning">
				Site is under construction! Some images and descriptions are missing. Last change: Jan 14th 11PM
			</div>
		</div>
		<div class="navbar-end">
			<a class="navbar-item is-tab {{#isIndex}}is-active{{/isIndex}}" href="/#about">About Me</a>
			<a class="navbar-item is-tab {{#isProject}}is-active{{/isProject}}" href="/#projects">Projects</a>
			<a class="navbar-item is-tab {{#isContacts}}is-active{{/isContacts}}" href="contact.html">Contact</a>
			<a class="navbar-item" href="resume.pdf">Resume&nbsp;<i class="fas fa-external-link-alt"></i></a></div>
	</div>
</nav>
